node-red_flows/flows.json
[{"id":"3abe8c84.455934","type":"subflow","name":"flow_2","info":"","category":"","in":[],"out":[{"x":1660,"y":340,"wires":[{"id":"965a9895.0f0238","port":0}]}],"env":[{"name":"TimerNumber","type":"num","value":"1"},{"name":"PayloadON","type":"str","value":"ON"},{"name":"PayloadOFF","type":"str","value":"OFF"}],"color":"#DDAA99"},{"id":"965a9895.0f0238","type":"schedex","z":"3abe8c84.455934","name":"Timer","passthroughunhandled":false,"suspended":false,"lat":"54.525671","lon":"-1.3113165","ontime":"","ontopic":"","onpayload":"","onoffset":"","onrandomoffset":0,"offtime":"","offtopic":"","offpayload":"","offoffset":"","offrandomoffset":0,"mon":false,"tue":false,"wed":false,"thu":false,"fri":false,"sat":false,"sun":false,"x":1530,"y":340,"wires":[[]]},{"id":"dd38c175.8ee4a","type":"ui_text_input","z":"3abe8c84.455934","name":"T2 On","label":"","tooltip":"","group":"8724bcdb.fa28b","order":2,"width":"4","height":"1","passthru":false,"mode":"time","delay":"0","topic":"Ton","x":830,"y":120,"wires":[["9d9dcb6e.1f7d68"]]},{"id":"f12e2e59.ea383","type":"ui_button","z":"3abe8c84.455934","name":"Set ON","group":"8724bcdb.fa28b","order":3,"width":"2","height":"1","passthru":false,"label":"{{msg.topic}}","tooltip":"","color":"","bgcolor":"{{msg.color}}","icon":"","payload":"","payloadType":"str","topic":"buttonON","x":1220,"y":60,"wires":[["9419fd3e.d7c908"]]},{"id":"57ac500f.c46a9","type":"ui_text_input","z":"3abe8c84.455934","name":"T2 Off","label":"","tooltip":"","group":"8724bcdb.fa28b","order":4,"width":"4","height":"1","passthru":false,"mode":"time","delay":"0","topic":"Toff","x":830,"y":160,"wires":[["9d9dcb6e.1f7d68"]]},{"id":"9cae49d1.5265e8","type":"ui_button","z":"3abe8c84.455934","name":"Set OFF","group":"8724bcdb.fa28b","order":5,"width":"2","height":"1","passthru":false,"label":"{{msg.topic}}","tooltip":"","color":"","bgcolor":"{{msg.color}}","icon":"","payload":"","payloadType":"str","topic":"buttonOFF","x":1220,"y":200,"wires":[["9419fd3e.d7c908"]]},{"id":"d6ee52fb.97852","type":"ui_button","z":"3abe8c84.455934","name":"Reset Button","group":"8724bcdb.fa28b","order":6,"width":"6","height":"1","passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":390,"y":360,"wires":[["4a4831c7.4875d"]]},{"id":"9d9dcb6e.1f7d68","type":"function","z":"3abe8c84.455934","name":"Set T2 On","func":"var z = env.get(\"TimerNumber\"); \n\n//if timer on is set\nif(msg.topic === \"Ton\"){\n    flow.set(\"$parent.timer\"+z+\"_on\", msg.payload);\n    msg.color = \"red\";\n    msg.topic = \"Press\";\n    return [msg, null];\n    \n    \n}\n\n//if timer off is set\nif(msg.topic === \"Toff\"){\n    flow.set(\"$parent.timer\"+z+\"_off\", msg.payload);\n    msg.color = \"red\";\n    msg.topic = \"Press\";\n    return [null, msg];\n    \n}\n\n// reboot detected\nif(msg.topic === \"reboot\"){\n    msg.color = \"grey\";\n    msg.topic = \"Select Time\";\n    return [msg, msg];\n    \n}","outputs":2,"noerr":0,"initialize":"","finalize":"","x":1000,"y":140,"wires":[["f12e2e59.ea383"],["9cae49d1.5265e8"]]},{"id":"4a4831c7.4875d","type":"function","z":"3abe8c84.455934","name":"Reset","func":"var z = env.get(\"TimerNumber\");\n\nvar timerlabel = \"Timer \"+ z;\nflow.set(\"$parent.timer\"+z+\"_on\", 0);\nflow.set(\"$parent.timer\"+z+\"_off\", 0);\nflow.set(\"$parent.T\"+z+\"on\", null);\nflow.set(\"$parent.T\"+z+\"off\", null);\n\nvar msg1 = {payload: \"Timer \"+z+\" reset\"};\nvar msg2 = {payload: 0};\nvar msg3 = {payload: \"disabled\",\n            topic: timerlabel,\n            color: \"red\"};\nvar msg4 = {color: \"grey\",\n            topic: \"Select Time\",\n};\n\nvar msg5 = {payload:{suspended: true}};\nvar msg6 = {payload: true};\n\nreturn [msg1, msg2, msg3, msg4, msg5, msg6];","outputs":6,"noerr":0,"initialize":"","finalize":"","x":570,"y":360,"wires":[["112f28f0.9c0fe7"],["57ac500f.c46a9","dd38c175.8ee4a"],[],["f12e2e59.ea383","9cae49d1.5265e8"],["965a9895.0f0238"],["649e0818.a189d8","ff7e72a3.5d927","a6490726.1732b","97e6c014.d2742","a210f1d0.f19f3","122bf1a7.0d9e06","fbec48b7.75fdf8"]]},{"id":"649e0818.a189d8","type":"ui_switch","z":"3abe8c84.455934","name":"","label":"Senin","tooltip":"","group":"8724bcdb.fa28b","order":7,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":830,"y":400,"wires":[["773f4d2c.42dbdc"]]},{"id":"ff7e72a3.5d927","type":"ui_switch","z":"3abe8c84.455934","name":"","label":"Selasa","tooltip":"","group":"8724bcdb.fa28b","order":8,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"tue","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":830,"y":440,"wires":[["918a3e9d.665078"]]},{"id":"a6490726.1732b","type":"ui_switch","z":"3abe8c84.455934","name":"","label":"Rabu","tooltip":"","group":"8724bcdb.fa28b","order":9,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":830,"y":480,"wires":[["659138d3.971d9"]]},{"id":"97e6c014.d2742","type":"ui_switch","z":"3abe8c84.455934","name":"","label":"Kamis","tooltip":"","group":"8724bcdb.fa28b","order":10,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":830,"y":520,"wires":[["41845197.2cae88"]]},{"id":"a210f1d0.f19f3","type":"ui_switch","z":"3abe8c84.455934","name":"","label":"Jumat","tooltip":"","group":"8724bcdb.fa28b","order":11,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":830,"y":560,"wires":[["7416007e.4b3808"]]},{"id":"122bf1a7.0d9e06","type":"ui_switch","z":"3abe8c84.455934","name":"","label":"Sabtu","tooltip":"","group":"8724bcdb.fa28b","order":12,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":830,"y":600,"wires":[["7d1f240f.2fef94"]]},{"id":"773f4d2c.42dbdc","type":"function","z":"3abe8c84.455934","name":"Senin","func":"var z = env.get(\"TimerNumber\");\n\nvar x = msg.payload;\nflow.set(\"$parent.Monday\"+z, x);\nmsg.payload = {mon: x};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":400,"wires":[["965a9895.0f0238"]]},{"id":"918a3e9d.665078","type":"function","z":"3abe8c84.455934","name":"Selasa","func":"var z = env.get(\"TimerNumber\");\n\nvar x = msg.payload;\nflow.set(\"$parent.Tuesday\"+z, x);\nmsg.payload = {tue: x};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":440,"wires":[["965a9895.0f0238"]]},{"id":"659138d3.971d9","type":"function","z":"3abe8c84.455934","name":"Rabu","func":"var z = flow.get(\"TimerNumber\");\n\nvar x = msg.payload;\nflow.set(\"Wednesday\"+z, x);\nmsg.payload = {wed: x};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":480,"wires":[["965a9895.0f0238"]]},{"id":"41845197.2cae88","type":"function","z":"3abe8c84.455934","name":"Kamis","func":"var z = flow.get(\"TimerNumber\");\n\nvar x = msg.payload;\nflow.set(\"Thursday\"+z, x);\nmsg.payload = {thu: x};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":520,"wires":[["965a9895.0f0238"]]},{"id":"7416007e.4b3808","type":"function","z":"3abe8c84.455934","name":"Jumat","func":"var z = flow.get(\"TimerNumber\");\n\n\nvar x = msg.payload;\nflow.set(\"Friday\"+z, x);\nmsg.payload = {fri: x};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":560,"wires":[["965a9895.0f0238"]]},{"id":"7d1f240f.2fef94","type":"function","z":"3abe8c84.455934","name":"Sabtu","func":"var z = flow.get(\"TimerNumber\");\n\n\nvar x = msg.payload;\nflow.set(\"Saturday\"+z, x);\nmsg.payload = {sat: x};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":600,"wires":[["965a9895.0f0238"]]},{"id":"ca9bf58e.a7326","type":"function","z":"3abe8c84.455934","name":"Minggu","func":"var z = flow.get(\"TimerNumber\");\n\n\nvar x = msg.payload;\nflow.set(\"Sunday\"+z, x);\nmsg.payload = {sun: x};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1000,"y":640,"wires":[["965a9895.0f0238"]]},{"id":"64fa6e6c.7a92d","type":"inject","z":"3abe8c84.455934","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Started!","payloadType":"str","x":1090,"y":280,"wires":[["429838b7.81fa7"]]},{"id":"429838b7.81fa7","type":"function","z":"3abe8c84.455934","name":"Apply stored values ","func":"var z = env.get(\"TimerNumber\"); \nvar pon = env.get(\"PayloadON\");\nvar poff = env.get(\"PayloadOFF\");\n\n\n// restore days\nvar mon = flow.get(\"$parent.Monday\"+z);\nvar tue = flow.get(\"$parent.Tuesday\"+z);\nvar wed = flow.get(\"$parent.Wednesday\"+z);\nvar thu = flow.get(\"$parent.Thursday\"+z);\nvar fri = flow.get(\"$parent.Friday\"+z);\nvar sat = flow.get(\"$parent.Saturday\"+z);\nvar sun = flow.get(\"$parent.Sunday\"+z);\n\n//restore timers\nvar timeON = flow.get(\"$parent.T\"+z+\"on\");\nvar timeOFF = flow.get(\"$parent.T\"+z+\"off\");\nvar timerlabel = \"Timer \"+ z;\n\n\n\nvar msg1 = {payload: {ontime: \"ontime \" + timeON}, onpayload: pon,};\nvar msg2 = {payload: {offtime: \"offtime \" + timeOFF}, offpayload: poff,};\nvar msg3 = {topic: timerlabel};\nvar msg4 = {payload : { \"mon\": mon,\n                \"tue\": tue,\n                \"wed\": wed,\n                \"thu\": thu,\n                \"fri\": fri,\n                \"sat\": sat,\n                \"sun\": sun,}\n};\n                     \n    \nreturn [msg1, msg2, msg3];","outputs":4,"noerr":0,"initialize":"","finalize":"","x":1310,"y":280,"wires":[["965a9895.0f0238"],["965a9895.0f0238"],[],["965a9895.0f0238"]]},{"id":"28147f29.b01de","type":"comment","z":"3abe8c84.455934","name":"Reboot Fix","info":"","x":1080,"y":240,"wires":[]},{"id":"3e04b853.ccd8e","type":"inject","z":"3abe8c84.455934","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"reboot","payload":"Started!","payloadType":"str","x":820,"y":60,"wires":[["9d9dcb6e.1f7d68"]]},{"id":"82da3deb.e1e44","type":"comment","z":"3abe8c84.455934","name":"Set Button","info":"","x":800,"y":20,"wires":[]},{"id":"112f28f0.9c0fe7","type":"ui_toast","z":"3abe8c84.455934","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","topic":"Timer 1","name":"","x":530,"y":240,"wires":[]},{"id":"9419fd3e.d7c908","type":"function","z":"3abe8c84.455934","name":"On button press","func":"var z = env.get(\"TimerNumber\");\nvar pon = env.get(\"PayloadON\");\nvar poff = env.get(\"PayloadOFF\");\n\nfunction calcTime(hh){\n    var hours = (\"0\"+Math.floor((hh%86400)/3600)).slice(-2);\n    var minutes = (\"0\"+Math.floor((hh%3600)/60)).slice(-2);\n    return hours + \":\" + minutes;\n}\n\nvar time = null;\nvar timerlabel = \"Timer \"+ z;\n\n\n// when button on is pressed\nif(msg.topic === \"buttonON\"){\n    var t1  = flow.get(\"$parent.timer\"+z+\"_on\")/1000;\n    time = calcTime(t1);\n    flow.set(\"$parent.T\"+z+\"on\", time);\n    //send to text element\n    var msg1 = {payload: \"SET\", topic: timerlabel, color: \"green\"};\n    //send to schedex\n    var msg2 = {payload: {ontime: \"ontime \" + time,\n                          onpayload: pon,\n                          suspended: false},\n                topic: \"SET\",\n                color:   \"green\"};\n    return [msg1,msg2,null,null];\n}\n// when button off is pressed\nif(msg.topic === \"buttonOFF\"){\n    var t2 = flow.get(\"$parent.timer\"+z+\"_off\")/1000;\n    time = calcTime(t2);\n    flow.set(\"$parent.T\"+z+\"off\", time);\n    //send to text element\n    var msg3 = {payload: \"SET\", topic: timerlabel, color: \"green\"};\n    //send to schedex\n    var msg4 = {payload: {offtime: \"offtime \" + time,\n                          offpayload: poff,\n                          suspended: false},\n                topic: \"SET\",\n                color:   \"green\"};\n    return [null,null,msg3,msg4];\n    \n}\n\nreturn msg;","outputs":4,"noerr":0,"initialize":"","finalize":"","x":1420,"y":140,"wires":[[],["965a9895.0f0238","f12e2e59.ea383"],[],["965a9895.0f0238","9cae49d1.5265e8"]]},{"id":"fbec48b7.75fdf8","type":"ui_switch","z":"3abe8c84.455934","name":"","label":"Minggu","tooltip":"","group":"8724bcdb.fa28b","order":13,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":840,"y":640,"wires":[["ca9bf58e.a7326"]]},{"id":"8724bcdb.fa28b","type":"ui_group","name":"Timer 2","tab":"11d77118.159b2f","order":3,"disp":true,"width":"6","collapse":false},{"id":"11d77118.159b2f","type":"ui_tab","name":"Home","icon":"Timer_","order":1,"disabled":false,"hidden":false},{"id":"dbc161f8.3798f","type":"tab","label":"Lampu_2","disabled":false,"info":""},{"id":"f67d050d.e68d08","type":"subflow:3abe8c84.455934","z":"dbc161f8.3798f","name":"time2","env":[{"name":"PayloadON","value":"222","type":"str"},{"name":"PayloadOFF","value":"221","type":"str"}],"x":310,"y":180,"wires":[["1216d2d5.e0ee7d","7edf7606.549ff"]]},{"id":"1216d2d5.e0ee7d","type":"debug","z":"dbc161f8.3798f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":180,"wires":[]},{"id":"7edf7606.549ff","type":"mqtt out","z":"dbc161f8.3798f","name":"topic","topic":"gasoli/minuman/keluarga/sehat","qos":"","retain":"","broker":"7b3c03b1.d2b3b4","x":630,"y":120,"wires":[]},{"id":"9740889e.7dceb8","type":"ui_switch","z":"dbc161f8.3798f","name":"","label":"L_2","tooltip":"","group":"6009c7fc.f53b6","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"222","onvalueType":"str","onicon":"","oncolor":"","offvalue":"221","offvalueType":"str","officon":"","offcolor":"","x":470,"y":100,"wires":[["7edf7606.549ff"]]},{"id":"7b3c03b1.d2b3b4","type":"mqtt-broker","name":"","broker":"http://broker.mqtt-dashboard.com/","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6009c7fc.f53b6","type":"ui_group","name":"Manual L_2","tab":"11d77118.159b2f","order":4,"disp":true,"width":"6","collapse":false}]